/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 21, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 31, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 42, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 52, ../scss/_normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 68, ../scss/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 82, ../scss/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 90, ../scss/_normalize.scss */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 103, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 113, ../scss/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 127, ../scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 132, ../scss/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 137, ../scss/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 142, ../scss/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 147, ../scss/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 152, ../scss/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 161, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 170, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 174, ../scss/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 182, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 190, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 200, ../scss/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 212, ../scss/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 222, ../scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 235, ../scss/_normalize.scss */
q {
  quotes: none;
}

/* 2 */
/* line 242, ../scss/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 247, ../scss/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 257, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 264, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 268, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 284, ../scss/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 288, ../scss/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 298, ../scss/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 307, ../scss/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 323, ../scss/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 332, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 345, ../scss/_normalize.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 358, ../scss/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 366, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 378, ../scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 394, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 406, ../scss/_normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 420, ../scss/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 431, ../scss/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 443, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 455, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 467, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 477, ../scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 487, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 501, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, ../scss/main.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  *behavior: url("/assets/css/boxsizing.htc");
  background-repeat: no-repeat;
  position: relative;
}

/* line 12, ../scss/main.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 16, ../scss/main.scss */
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.15em;
  color: #6f6f6f;
}

/* line 25, ../scss/main.scss */
.clearfix, .container-group, #wedding-party ol, #registry ul {
  zoom: 1;
}
/* line 27, ../scss/main.scss */
.clearfix:before, .container-group:before, #wedding-party ol:before, #registry ul:before, .clearfix:after, .container-group:after, #wedding-party ol:after, #registry ul:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 33, ../scss/main.scss */
.clearfix:after, .container-group:after, #wedding-party ol:after, #registry ul:after {
  clear: both;
}

/* line 38, ../scss/main.scss */
h1 {
  font-size: 2.75em;
  font-weight: 400;
}

/* line 45, ../scss/main.scss */
nav {
  font-family: "proxima-nova",sans-serif;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}
/* line 50, ../scss/main.scss */
nav ul, nav ol {
  margin: 0;
  padding: 0;
}
/* line 54, ../scss/main.scss */
nav ul li, nav ol li {
  display: inline-block;
  letter-spacing: -0.03em;
}
/* line 60, ../scss/main.scss */
nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #6f6f6f;
}

/* @group Header */
/* line 69, ../scss/main.scss */
#main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  background: white;
  z-index: 10;
  font-size: 1.1em;
  border-bottom: 2px solid #c8c8c8;
}
/* line 81, ../scss/main.scss */
#main-header .nav-control {
  display: none;
}
/* line 85, ../scss/main.scss */
#main-header nav {
  width: 92%;
  margin: .9em auto .8em;
  text-align: center;
}
/* line 90, ../scss/main.scss */
#main-header nav li {
  padding: 0 1em;
}
/* line 93, ../scss/main.scss */
#main-header nav li a {
  display: block;
  line-height: 2em;
}
/* line 97, ../scss/main.scss */
#main-header nav li a:hover {
  text-decoration: underline;
}
/* line 103, ../scss/main.scss */
#main-header nav li:first-child img {
  position: relative;
  top: -1px;
  vertical-align: middle;
}

/* end @group Header */
/* @group Containers */
/* line 123, ../scss/main.scss */
.full-container, .half-container {
  position: relative;
}

/* line 127, ../scss/main.scss */
.full-container {
  width: 100%;
}

/* line 131, ../scss/main.scss */
.half-container {
  width: 50%;
  float: left;
}
/* line 135, ../scss/main.scss */
.half-container:first-child {
  padding-right: 2%;
}
/* line 139, ../scss/main.scss */
.half-container:last-child {
  padding-left: 2%;
}

/* end @group Containers */
/* @group Slide styles */
/* line 149, ../scss/main.scss */
.panel {
  position: fixed;
  overflow: hidden;
  background: #ebebeb;
  width: 100%;
  height: 100%;
  padding: 6em 5% 5%;
  z-index: 1;
  display: none;
  -webkit-box-shadow: #6f6f6f 0 0 10px;
  -moz-box-shadow: #6f6f6f 0 0 10px;
  box-shadow: #6f6f6f 0 0 10px;
}
/* line 160, ../scss/main.scss */
.panel > header {
  text-align: center;
}
/* line 164, ../scss/main.scss */
.panel h1 {
  margin-top: 0;
}

/* line 169, ../scss/main.scss */
.button {
  display: block;
  padding: .5em 1em;
  background: white;
  font-size: 1.5em;
  font-style: italic;
  font-weight: lighter;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  color: #6f6f6f;
}
/* line 182, ../scss/main.scss */
.button:hover {
  background: #535353;
  color: #f0f0f0;
}

/* line 189, ../scss/main.scss */
#announcing {
  z-index: 5;
  display: block;
}
/* line 193, ../scss/main.scss */
#announcing h1 {
  margin: 0 0 .4em 0;
  line-height: 0.85;
}
/* line 197, ../scss/main.scss */
#announcing h1 .char4 {
  color: #fddf68;
  font-size: 1.2em !important;
}
/* line 203, ../scss/main.scss */
#announcing p {
  font-size: 1.5em;
  font-style: italic;
  font-weight: lighter;
  margin-top: 0;
  text-align: left;
}

/* line 213, ../scss/main.scss */
#the-couple {
  background: #4d4d4d url("/assets/img/about-background.png") no-repeat top right fixed;
}
/* line 216, ../scss/main.scss */
#the-couple h1 {
  padding-top: 100px;
  background: transparent url("/assets/img/flourish-about.png") no-repeat top center scroll;
  color: #fddf68;
  margin-top: 0;
}
/* line 223, ../scss/main.scss */
#the-couple article {
  font-size: 1.15em;
  font-weight: lighter;
  line-height: 1.7em;
  color: #f1f1f1;
  text-shadow: black 1px 1px 1px;
  width: 90%;
  margin: 0 auto;
}

/* line 235, ../scss/main.scss */
#wedding-party {
  background: #fddf67;
}
/* line 238, ../scss/main.scss */
#wedding-party h3.list-title {
  display: none;
}
/* line 242, ../scss/main.scss */
#wedding-party h1 {
  padding-top: 120px;
  background: transparent url("/assets/img/flourish-wedding-party.png") no-repeat top center scroll;
  color: #535353;
  margin-bottom: .25em;
}
/* line 249, ../scss/main.scss */
#wedding-party nav.tabs {
  text-align: center;
}
/* line 251, ../scss/main.scss */
#wedding-party nav.tabs ul {
  font-size: 0;
}
/* line 255, ../scss/main.scss */
#wedding-party nav.tabs li {
  padding: 8px 10px 4px;
  margin: 0;
  font-size: 14px;
  border-bottom: 1px solid #535353;
  width: 70px;
  text-align: left;
}
/* line 264, ../scss/main.scss */
#wedding-party nav.tabs li:first-child {
  border-right: 1px solid #535353;
  text-align: right;
}
/* line 269, ../scss/main.scss */
#wedding-party nav.tabs a {
  opacity: .8;
}
/* line 272, ../scss/main.scss */
#wedding-party nav.tabs a.active, #wedding-party nav.tabs a:hover {
  color: #535353;
  opacity: 1;
}
/* line 281, ../scss/main.scss */
#wedding-party ol {
  list-style: none;
  padding: 0;
}
/* line 286, ../scss/main.scss */
#wedding-party ol#his {
  display: none;
}
/* line 290, ../scss/main.scss */
#wedding-party ol li {
  width: 23%;
  height: auto;
  float: left;
  margin: 1%;
}
/* line 296, ../scss/main.scss */
#wedding-party ol li img {
  max-width: 280px;
  max-height: 280px;
  width: 100%;
  height: auto;
  border: 10px solid white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
/* line 305, ../scss/main.scss */
#wedding-party ol li img.on {
  border-color: #535353;
}
/* line 310, ../scss/main.scss */
#wedding-party ol li > div {
  display: none;
  font-family: "proxima-nova",sans-serif;
  font-weight: lighter;
  padding: 10px;
  width: 170%;
  overflow: visible;
}
/* line 319, ../scss/main.scss */
#wedding-party ol li > div.on {
  display: block;
}
/* line 324, ../scss/main.scss */
#wedding-party ol li:nth-child(4) > div {
  position: relative;
  right: 70%;
}
/* line 329, ../scss/main.scss */
#wedding-party ol li h2, #wedding-party ol li h3 {
  font-size: 1.4em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
/* line 336, ../scss/main.scss */
#wedding-party ol li h3 {
  font-size: 1em;
}

/* line 348, ../scss/main.scss */
#ceremony {
  background: #757575;
  color: #f1f1f1;
}
/* line 352, ../scss/main.scss */
#ceremony h1 {
  padding-top: 120px;
  background: transparent url("/assets/img/flourish-ceremony.png") no-repeat top center scroll;
  color: #fddf68;
}
/* line 358, ../scss/main.scss */
#ceremony #map, #ceremony iframe {
  width: 100%;
  height: 15em;
}
/* line 363, ../scss/main.scss */
#ceremony .button {
  margin-top: 2.92em;
  max-width: 300px;
}
/* line 368, ../scss/main.scss */
#ceremony address {
  margin: 1em 0;
}

/* line 375, ../scss/main.scss */
#registry {
  background: #ebebeb;
  color: #3e3e3e;
}
/* line 379, ../scss/main.scss */
#registry h4 {
  padding-bottom: 90px;
  text-align: center;
  font-family: "proxima-nova",sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  background: transparent url("/assets/img/flourish-registry.png") no-repeat bottom center scroll;
}
/* line 388, ../scss/main.scss */
#registry ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 80%;
}
/* line 397, ../scss/main.scss */
#registry li {
  margin: 0 0 1em;
  float: left;
  width: 46%;
  margin: 0 2%;
}
/* line 403, ../scss/main.scss */
#registry li a {
  position: relative;
  max-width: 300px;
}
/* line 409, ../scss/main.scss */
#registry li:last-child {
  width: 30%;
  padding-left: 8%;
}
/* line 414, ../scss/main.scss */
#registry li:first-child a {
  top: 4em;
}

@media only screen and (min-width:321px) {
  /* line 2, ../scss/_responsive.scss */
  a.nav-control {
    display: none !important;
  }
}
@media only screen and (max-width:807px) {
  /* line 7, ../scss/_responsive.scss */
  #main-header {
    font-size: .9em;
  }

  /* line 10, ../scss/_responsive.scss */
  .panel {
    padding-top: 4.5em;
  }

  /* line 15, ../scss/_responsive.scss */
  #registry li:last-child {
    position: relative;
    top: 1.8em;
  }
}
@media only screen and (height:42em) and (width:64em) {
  /* line 26, ../scss/_responsive.scss */
  #the-couple header h1, #wedding-party header h1, #ceremony header h1, #registry header h1 {
    margin: .1em 0 .5em;
  }

  /* line 29, ../scss/_responsive.scss */
  #the-couple article {
    font-size: 1.1em;
  }

  /* line 36, ../scss/_responsive.scss */
  #wedding-party .full-container {
    width: 75%;
    margin: 0 auto;
  }
  /* line 41, ../scss/_responsive.scss */
  #wedding-party .full-container ol li img {
    border-width: 7px;
  }
  /* line 45, ../scss/_responsive.scss */
  #wedding-party .full-container ol li > div {
    width: 425% !important;
    position: relative !important;
  }
  /* line 51, ../scss/_responsive.scss */
  #wedding-party .full-container ol li > div header h2, #wedding-party .full-container ol li > div header h3 {
    display: inline !important;
  }
  /* line 54, ../scss/_responsive.scss */
  #wedding-party .full-container ol li > div header h3 {
    padding-left: 5px !important;
  }
  /* line 61, ../scss/_responsive.scss */
  #wedding-party .full-container ol li:nth-child(2) > div {
    left: -109% !important;
  }
  /* line 64, ../scss/_responsive.scss */
  #wedding-party .full-container ol li:nth-child(3) > div {
    left: -217% !important;
  }
  /* line 67, ../scss/_responsive.scss */
  #wedding-party .full-container ol li:nth-child(4) > div {
    left: -326% !important;
  }

  /* line 74, ../scss/_responsive.scss */
  #ceremony #map {
    height: 15em;
  }

  /* line 79, ../scss/_responsive.scss */
  #registry header, #registry .full-container {
    width: 60%;
    margin: 0 auto;
  }
  /* line 84, ../scss/_responsive.scss */
  #registry h4 {
    padding-bottom: 0;
    background: none;
  }
  /* line 89, ../scss/_responsive.scss */
  #registry ul {
    padding-top: 1em;
    width: 70%;
  }
  /* line 93, ../scss/_responsive.scss */
  #registry ul li {
    margin-right: 1em;
    float: left;
  }
  /* line 98, ../scss/_responsive.scss */
  #registry ul li:last-child {
    margin-left: 1em;
    margin-right: 0;
    width: 40%;
    top: 0;
  }
  /* line 105, ../scss/_responsive.scss */
  #registry ul li:first-child a {
    top: 2em;
  }
}
@media only screen and (max-height:46em) {
  /* line 116, ../scss/_responsive.scss */
  #the-couple h1, #wedding-party h1, #ceremony h1, #registry h1 {
    background: none;
    padding-top: 0;
    margin: .5em 0;
  }
}
@media only screen and (max-width:570px) {
  /* line 127, ../scss/_responsive.scss */
  #main-header {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
    background: transparent;
    border-top: none;
    border-bottom: none;
  }
  /* line 141, ../scss/_responsive.scss */
  #main-header nav {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  /* line 147, ../scss/_responsive.scss */
  #main-header .nav-control {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-bottom: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    text-indent: -9999em;
    overflow: hidden;
    background: white url("/assets/img/nav-control.png") no-repeat 9px -7px;
    z-index: 10;
  }
  /* line 162, ../scss/_responsive.scss */
  #main-header .nav-control.on {
    background-position: -40px -7px;
  }
  /* line 167, ../scss/_responsive.scss */
  #main-header ol {
    display: none;
    width: 200px;
    position: absolute;
    top: 0;
    left: -150px;
    text-align: right;
    background: #3e3e3e;
    padding: 70px 0 40px;
  }
  /* line 178, ../scss/_responsive.scss */
  #main-header ol li {
    padding: 0 10px;
    display: block;
    border-top: 1px solid #555555;
    border-bottom: 1px solid #1e1e1e;
  }
  /* line 184, ../scss/_responsive.scss */
  #main-header ol li a {
    display: block;
    padding: 5px 10px;
    color: #f0f0f0;
    font-style: italic;
  }
  /* line 191, ../scss/_responsive.scss */
  #main-header ol li:first-child {
    border-top: none;
  }
  /* line 194, ../scss/_responsive.scss */
  #main-header ol li:last-child {
    border-bottom: none;
  }

  /* line 203, ../scss/_responsive.scss */
  .half-container {
    width: 100%;
    float: none;
  }
  /* line 207, ../scss/_responsive.scss */
  .half-container:first-child {
    padding-right: 0;
  }
  /* line 211, ../scss/_responsive.scss */
  .half-container:last-child {
    padding-left: 0;
  }

  /* line 216, ../scss/_responsive.scss */
  .panel {
    position: relative;
    background: #ebebeb;
    width: auto;
    height: auto;
    padding: 5% 8%;
    z-index: 1;
    display: block;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  /* line 226, ../scss/_responsive.scss */
  .panel > header {
    text-align: center;
  }
  /* line 230, ../scss/_responsive.scss */
  .panel h1 {
    margin-top: 0;
  }

  /* line 236, ../scss/_responsive.scss */
  #the-couple h1, #wedding-party h1, #ceremony h1, #registry h1 {
    background: none;
    padding-top: 0;
    margin: .5em 0;
  }

  /* line 243, ../scss/_responsive.scss */
  #announcing {
    padding-top: 2.5em;
  }
  /* line 247, ../scss/_responsive.scss */
  #announcing h1 {
    margin: 0 0 .5em;
    font-size: 3em !important;
    line-height: 1em;
  }
  /* line 254, ../scss/_responsive.scss */
  #announcing p {
    font-size: 1.15em;
    text-align: center;
  }

  /* line 262, ../scss/_responsive.scss */
  #the-couple article {
    width: 100%;
  }

  /* line 268, ../scss/_responsive.scss */
  #wedding-party nav.tabs {
    display: none;
  }
  /* line 272, ../scss/_responsive.scss */
  #wedding-party h3.list-title {
    display: block;
    font-style: italic;
    text-align: center;
    font-size: 2em;
  }
  /* line 280, ../scss/_responsive.scss */
  #wedding-party ol#his {
    display: block;
  }
  /* line 283, ../scss/_responsive.scss */
  #wedding-party ol li {
    width: 98%;
  }
  /* line 286, ../scss/_responsive.scss */
  #wedding-party ol li > div {
    display: block;
    width: 108%;
    position: relative;
    left: -4%;
  }

  /* line 298, ../scss/_responsive.scss */
  #ceremony .button {
    margin-top: 1em;
  }
  /* line 302, ../scss/_responsive.scss */
  #ceremony #map {
    height: 10em;
  }
  /* line 306, ../scss/_responsive.scss */
  #ceremony .button {
    margin: 1em auto;
  }
  /* line 310, ../scss/_responsive.scss */
  #ceremony address {
    text-align: center;
  }

  /* line 317, ../scss/_responsive.scss */
  #registry h4 {
    padding-bottom: 0;
    background: none;
  }
  /* line 322, ../scss/_responsive.scss */
  #registry li {
    width: 80%;
    margin: 0 auto 3em;
    float: none;
  }
  /* line 327, ../scss/_responsive.scss */
  #registry li:first-child a {
    top: 0;
  }
  /* line 330, ../scss/_responsive.scss */
  #registry li:last-child {
    width: 80%;
  }
}
